body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-top: 70px; /* Adjusted to match the navbar height */
    margin-bottom: 70px; /* Adjusted to match the footer height */
    overflow-y: auto;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color:#f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 300px); /* Adjusted based on the navbar and footer height */
    overflow-y: auto;
}


h1 {
    text-align: center;
    color: #333;
}

p {
    margin: 10px 0;
    color: #666;
}
.info-text {
    text-align: center;
}

#profile{
    padding-top: 250px;
    text-align: center;
}

.container-scroll {
    max-height: calc(100vh - 300px); /* Adjusted based on the navbar and footer height */
    overflow-y: auto;
    padding-top: 30px;
}   


.photo{
    width: 500px;
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    vertical-align:auto;
}

.container-home{
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.profile-description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    vertical-align: top;
}
.h2{
    text-shadow:0px, 0px, 10px, 0px;
    font-style: consolas;
}

.Televisi{
    background-color: #ffe6e6;
}

.Laptop{
    background-color: #ffe6e6;
}

.Kipas{
    background-color: #ffe6e6;
}

.elektronik-info {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: auto;
    text-align: center; /* Menengahkan teks */
}

.elektronik-container {
    display: block;
    font-size: larger;
}

.gambar-elektronik {
    width: 200px;
    height: auto;
    margin: 10px auto; /* Menengahkan gambar */
    display: block;
}

